<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Planner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <header>
    <div class="logo">
      <%= image_tag "fukidashi-illust0202", class: "image" %>
      <span class="title">
        Anime<br>
        Planner
      </span>
    </div>
    <nav>
      <ul class="navList">
        <%= @user.email %>のプラン
        <li><%= link_to "退出", destroy_user_session_path, method: :delete, class: "logOut" %></li>
      </ul>
    </nav>
  </header>
  <div class="body">
    <div class="bodyInner">
      <div class="env">
        <span class="title">アニメ一覧</span>
        <div class="hamburger">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
        <ul class="dropdownMenu">
          <li class="item new">追加</li>
          <li class="item edit">編集</li>
          <li class="item delete">削除</li>
        </ul>
      </div>  
      <div class="itemContainer">
        <% @animes.each do |anime| %>
          <div class="item">
            <% if anime.image.attached? %>
              <div class="image">
                <%= image_tag anime.image.variant(
                  resize: "80x80",
                  gravity: "center")            
                %>
              </div>
            <% else %>
              <div class="image">
                <%= image_tag "sample", :size => "56x70" %>
              </div>
            <% end %>
            <%= link_to "編集", edit_anime_path(anime), class: "btn edit" %> 
            <%= link_to "削除", anime, data: { "turbo-method": :delete,
                                                    turbo_confirm: "削除しますか?" }, class: "btn delete" %>
            <h1 class="animeTitle"><%= anime.title %></h1>
            <div class="part">
              <p class="currentPart"><%= anime.current_part %></p>
              <p class="space">/</p>
              <p class="allPart"><%= anime.all_part %></p>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</body>
</html>