<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Planner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <header>
    <div class="logo">
      <%= image_tag "fukidashi-illust0202", class: "image" %>
      <span class="title">
        Anime<br>
        Planner
      </span>
    </div>
    <nav>
      <ul class="navList">
        <div class="email">
          <%= @user.email %>のプラン
        </div>
        <li><%= link_to "退出", destroy_user_session_path, method: :delete, class: "logOut" %></li>
      </ul>
    </nav>
  </header>
  <div class="body">
    <div class="bodyInner">
      <div class="env">
        <span class="title">アニメ一覧</span>
        <%= link_to "新規作成", new_anime_path, class: "btn new" %>
      </div>  
      <%= will_paginate @animes, renderer: WillPaginate::ActionView::LinkRenderer, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;' %>
      <div class="itemContainer">
        <% @animes.each do |anime| %>
          <div class="item">
            <% if anime.image.attached? %>
              <div class="image">
                <%= image_tag anime.image.variant(
                    gravity: :center,
                    resize:"120x90",
                    crop:"55x120+0+40"
                  )            
                %>
              </div>
            <% else %>
              <div class="image">
                <%= image_tag "sample", size: "51x70", class: "sample" %>
              </div>
            <% end %>
            <div class="btnContainer">
              <%= link_to "編集", edit_anime_path(anime), class: "btn edit" %> 
              <%= link_to "削除", anime, data: { "turbo-method": :delete,
                                                      turbo_confirm: "削除しますか?" }, class: "btn delete" %>
            </div>
            <h1 class="animeTitle"><%= anime.title %></h1>
            <div class="part">
              <p class="currentPart"><%= anime.current_part %></p>
              <p class="space">/</p>
              <p class="allPart"><%= anime.all_part %></p>
            </div>
          </div>
        <% end %> 
      </div>
      <%= will_paginate @animes, renderer: WillPaginate::ActionView::LinkRenderer, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;' %>
    </div>
  </div>
</body>
</html>